<p id="notice"></p>
<div class=container>
 <h4>会員情報編集</h4>
 <div class=row>
  <div class="px-10 mx-auto">
    <%= form_with model: @customer, url: customer_path, local:true, method: :patch do |f| %>
     <div class="form-group">
     <label for="name">氏名
     <%=f.text_field :last_name %>
     <%=f.text_field :first_name %>
     </label>
    </div>
    <div class="form-group">
    <label for="name_kana">フリガナ
      <%=f.text_field :last_name_kana %>
     <%=f.text_field :first_name_kana %>
    </label>
    </div>
    <div class="form-group">
     <label for="postal_code">郵便番号
      <%= f.text_field :postal_code %>
    </label>
    </div>
    <div class=form-group>
     <label for="address">住所
      <%= f.text_field :address, :size=>"60" %>
     </label>
    </div>
    <div class=form-group>
     <label for="telephone_number">電話番号
      <%=  f.text_field :telephone_number %>
     </label>
    </div>
    <div class=form-group>
     <label for="email">メールアドレス
      <%= f.text_field :email %>
     </label>
    </div>
    <div class="btn-toolbar">
     <div class="btn-group">
    <%= f.submit "編集内容を保存", class:'btn btn-success' %>
   <% end %>
     </div>
     <div class="btn-group ml-auto">
     <%= link_to "退会する", customers_confirm_path, class:'btn btn-danger' %>
    </div>
  </div>
 </div>
</div>
