<p id="notice"></p>
<div class=container>
 <div class=row>
  <div class="px-8 mx-auto">
  <h4>配送先編集</h4>
    <%= form_with model:@genre, url: addresses_path, local:true do |f| %>
    <div class="form-group">
     <label for="postal_code">郵便番号(ハイフンなし)
      <%= f.text_field :postal_code %>
     </label>
    </div>
    <div class="form-group">
     <label for="address">住所
      <%= f.text_field :address, :size=>"60" %>
     </label>
    </div>
    <div class="form-group">
     <label for="name">宛名
      <%= f.text_field :name %>
     </label>
    </div>
     <%=f.submit "変更内容を保存", class:'btn btn-success' %>
   <% end %>
  </div>
 </div>
</div>
