<p id="notice"></p>
<div class=container>
 <div class=row>
  <div class="px-8 mx-auto">
  <h4>配送先編集</h4>
    <%= form_with model:@genre, url: addresses_edit_path, local:true,method: :patch do |f| %>
　　 <label for="postal_code">郵便番号(ハイフンなし)</label>
     <%= f.text_field :postal_code, :placeholder => "0000000" %>
     <label for="address">住所</label>
     <%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0" %>
     <label for="name">宛名</label>
     <%= f.text_field :postal_code, :placeholder => "令和道子" %>
     <%=f.submit "変更内容を保存", class:'btn btn-success' %>
   <% end %>
  </div>
 </div>
</div>
