<p id="notice"></p>

<div class="container px-5 px-sm-0">  
 <div class="row"> 
 <h4>注文情報確認</h4>
  <div class="col-md-5">
    
    <hr>
     <table border="1">
      <% @oders.each do |order| %>
       <tr>
        <th>商品名</th>
         <td><%= @order.item.name %> </td>
       </tr>
       <tr>
        <th>単価（税込）</th>
         <td><%= @order.item.price %> </td>
       </tr>
       <tr>
        <th>数量</th>
         <td><%= @order.amount %> </td>
       </tr>
       <tr>
        <th>小計</th>
         <td><%= @order.price %> </td>
       </tr>
      <% end %>
     </table>
    </hr>
  </div>
  <div class="col-md-3 offset-md-1">
      <hr>
       <table border="1">
        <thead>
          <tr>
            <th>送料</th>
            <th>商品合計</th>
            <th>請求金額</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @order.shipping_cost %></td> 
            <td><%= @order.price %></td>
            <td><%= @order.total_payment %></td>
          </tr>
        </tbody>
       </table>
      </hr>
  </div>
 </div>
</div>

<h4>支払方法</h4>
<%= @order.payment_method %>
<h4>お届け先</h4>
〒<%= @order.postal_code %>
  <%= @order.address %>
  <%= @order.last_name + @order.first_name %></br>
<%= link_to "注文を確定する", orders_complete_path, class:'btn btn-success' %>