<p id="notice"></p>

<div class="container px-5 px-sm-0">  
 <div class="row"> 
  <div class="col-md-5">
   <h4>注文履歴詳細</h4>
   <h6>注文情報</h6>
     <table border="1"  width="600" height="240">
       <tr>
        <th width="20%">注文日</th>
         <td width="80%"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
       </tr>
       <tr>
        <th height="18%">配送先</th>
         <td>
          〒<%= @order.postal_code %></br>
          <%= @order.address %></br>
          <%= @order.name %>
         </td>
       </tr>
       <tr>
        <th>支払方法</th>
         <td><%= @order.payment_method %></td>
       </tr>
       <tr>
        <th>ステータス</th>
         <td><%= @order.status_i18n %> </td>
       </tr>
     </table>
    </hr>
  </div>
  <div class="col-md-4 offset-md-2">
   <div class="left">
    <h6>請求金額</h6>
       <table border="1" width="300" height="120">
        <tr>
         <th width="60%">商品合計</th>
          <td width="40%"><%= @total %></td>
        </tr>
        <tr>
         <th>発送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
         <th><h5>ご請求額</h5></th>
          <td><%= @order.total_payment %></td>
        </tr>
       </table>
   </div>
  </div>
  <div class="col-md-5">
    <h6>注文内容</h6>
       <table border="1" width="800" height="120">
        <thead>
         <tr>
          <th width="60%" height="50">商品名</th>
          <th width="20%">単価(税込)</th>
          <th width="10%">個数</th>
          <th width="10%">小計</th>
          </tr>
         </thead>
         <tbody>
          <% @order_detalis.each do |order_detail| %>
           <tr>
            <td  height="45">
             <%= attachment_image_tag order_detail.item, :image, :size =>'60x40', fallback: "image.png" %>
             <%= order_detail.item.name %>
            </td>
            <td> <%= order_detail.item.price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.item.price*order_detail.amount %></td>
          </tr>
          <% end %>
         </tbody>
  </div>
 </div>
</div>
