<p id="notice"></p>

<div class="container px-5 px-sm-0">  
 <div class="row"> 
 <h4>注文履歴詳細</h4>
  <div class="col-md-5">
   <h5>注文情報</h5>
    <hr>
     <table border="1">
       <tr>
        <th>注文日</th>
         <td><%= @order_detali.created_at.strftime('%Y/%m/%d') %></td>
       </tr>
       <tr>
        <th>配送先</th>
         <td><%= @order_detali.order.address %> </td>
       </tr>
       <tr>
        <th>支払方法</th>
         <td><%= @order_detali.order.payment_method %></td>
       </tr>
       <tr>
        <th>ステータス</th>
         <td><%= @order_detali.order.status %> </td>
         <%= select :status,:name,Battle.statuses.keys.to_a %>
<%= select :status,:name,Battle.statuses.values.to_a %>
       </tr>
     </table>
    </hr>
  </div>
  <div class="col-md-4 offset-md-1">
    <h5>請求金額</h5>
      <hr>
       <table border="1">
        <tr>
         <th>商品合計</th>
          <!--<td><%#= @order.price %></td>-->
        </tr>
        <tr>
         <th>発送料</th>
          <td><%= @order_detali.order.shipping_cost %></td>
        </tr>
        <tr>
         <th><h5>ご請求額</h5></th>
          <td><%= @order_detali.order.total_payment %></td>
        </tr>
       </table>
      </hr>
  </div>
  <div class="col-md-5">
    <h5>注文内容</h5>
     <hr>
       <table border="1">
        <tr>
         <thead>
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
         </thead>
        </tr>
         <tbody>
          <% @order_detalis.each do |order_detail| %>
           <tr>
            <td><%= order_detail.item.name %></td>
            <td> <%= order_detail.item.price %></td>
            <td><%= order_detail.amount %></td>
            <td><%#= order.total_payment %></td>
          </tr>
          <% end %>
         </tbody>
       <hr>
  </div>
 </div>
</div>
