<p id="notice"></p>

<div class="container px-5 px-sm-0">  
 <div class="row">  
  <div class="col-md-3">
    <%= attachment_image_tag @item, :image, :fill, 300, 250, fallback: "image.png" %>
  </div>
  <div class="col-md-8 offset-md-1">
    <%= form_with model:@cart_item, url: cart_items_path, local:true do |f| %>
     <%= @item.name %>
     <%= @item.introduction %>
     <!--<p>hidden_fieldを使用してitem_idをコントローラに送信する</p>-->
     <%= f.hidden_field :item_id, :value => @item.id %>
     ¥<%= @item.add_tax_price %>(税込)
     <%= f.number_field :amount, autocomplete: "個数選択" %>
     <%= f.submit "カートに入れる", class:'btn btn-success' %>

    <% end %>
    </div>
  </div>
 </div>
</div>
